<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube - AntWorks Sonar way" ToolsVersion="16.0">
  <Include Path="..\.sonarlint\antworkscsharp.ruleset" Action="Default" />
  <Include Path="extendedcorrectnessrules.ruleset" Action="Default" />
  <Include Path="extendeddesignguidelinerules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Include Path="securityrules.ruleset" Action="Default" />
</RuleSet>